$colour-purple: #7d32a8;
$colour-pinkish: #8915d1;
$colour-pink:#cc1fbb;
$colour-blue-1: #2b26c7;
$colour-blue-2: #0095ff;
$colour-blue-3: #0095ff;
$colour-blue-4: #2a6bd4;
$colour-blue-5: #003366;
$colour-grey: #edf2ff;