.side-container {
  display: flex;
}

.tiles {
  display: flex;
  flex-wrap: wrap;
}

.tile4 {
  margin: 1em;
  background-color: $colour-blue-2;
  flex: 1 1 20%;

  @media (max-width: 950px) {
    flex: 1 1 calc(34%);
  }

  @media (max-width: 550px) {
    flex: 1 1 calc(50%);
  }
}