.tile3 {
  margin: 1em;
  width: 33.33333%;
  background-color: $colour-blue-2;
  flex: 1 1 calc(30%);

  @media (max-width: 900px) {
    flex: 1 1 calc(25%);
  }

  @media (max-width: 630px) {
    flex: 1 1 calc(30%);
  }

  @media (max-width: 390px) {
    flex: 1 1 calc(100%);
  }
}