.header {
  box-sizing: initial;
  background-color: $colour-blue-5;
  min-height: 3rem;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;

  &__logo {
    flex: 1;
    align-self: center;
  }

  &__menu {
    list-style: none;
    display: flex;
    align-items: center;

    .menu__item a {
      &:link,
      &:visited {
        text-transform: uppercase;
        text-decoration: none;
        cursor: pointer;
        color: inherit;
      }
    }

    & > * {
      padding: 0 1rem;
    }
  }
}
